@@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  font-family: 'Montserrat',sans-serif;
  box-sizing: border-box;
}
html,body{
	
    @media (max-width: 650px) {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
   }
}
.logo{
	height: auto;
	width: 4em;
	display: inline;
	vertical-align: middle;
}
.container{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}
.container a{
	 font-weight: 1000;
	 color: black;
	 text-decoration: none;
}
.container div{
	margin-left: 10px;
	margin-right: 30px;
	padding: 4px;
	border: 2px black solid;
}
.btn, .btn2{
	border-color: #053FCF;
	background-color: #053FCF;
	font-weight: 800;
}
form{
	text-align: center; 
}
input{
	border-color: #053FCF;
	height: 30px;
    width: 270px;
    value{
    	font-weight: 800;
    }
}
input::placeholder{
    color: black;
    padding: 5px;
}
.btn:hover, .btn2:hover{
	box-shadow: 1px 1px 16px #053FCF
}
#video{
	width:50%;
	max-width: 560px;
	height: 315px;
	display: block;
    margin: 0 auto;
}
#item1, #item2, #item3{
	text-align: center;
	background-color: #00E5BC;
	color: black;
    width: 30%;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 13px;
    padding: 2px;
    padding-bottom: 10px;
}
.container2{
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}
ul{ 
	text-align: justify;
	color: black;
	list-style: none;
}
li{
	font-size: 1.7em;
}
.btn2{
	font-size: 1em;
	padding: 5px;
}
.hero1{
	text-align: center; 
	color: #001A5A;
	font-size: 65px;
}
.hero2, .hero3{
	text-align: center; 
	color: #001A5A;
	font-size: 45px;
}
.hero1, .hero2, .hero3{
	text-decoration: none;
}